aws_region     = "us-east-1"
aws_account_id = "123456789012"
environment    = "staging"
project_name   = "ecommerce-devsecops"

certificate_arn = "arn:aws:acm:us-east-1:123456789012:certificate/00000000-0000-0000-0000-000000000000"

allowed_web_cidr    = ["0.0.0.0/0"]
allowed_egress_cidr = ["0.0.0.0/0"]
